*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#f6f6f6;
}
header {
    background-color: rgb(126, 55, 55);
    width: 100%;
    height: 13.5rem;
}
.logo{
    padding: 30px;
    font-size: 40px;
    cursor: pointer;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25rem;
}
.srch{
    width: 20%;
    height: 3rem;
    border-radius: 5px;
    border: 1px solid rgb(40, 40, 40);
    padding: 0 1rem;
    font-size: 1rem;
    outline: none;
}
.more{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}
.more ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;   
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.more ul {
    position: absolute;
    top: 1.5rem;
    right: 20rem;
}
.more ul li{
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    margin: auto;
}
.more ul li a{
    text-decoration: none;
    color: inherit;
}
ul li{
    list-style: none;
    font-size: 25px;
    font-weight: bold;
}
ul li a{
    text-decoration: none;
    color: inherit;
}
.more li{
    border-style: solid;
    border-color: transparent;
    transition: 0.5s ease-in-out;
    border-width: 0 0 2px 0;
}
.more li:hover{
    border-color: rgb(40, 40, 40);
    transform: translateY(-5px);
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}
.navigation ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;   
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.navigation ul li {
    border-style: solid;
    border-color: transparent; /* Keep the border consistent */
    border-width: 0 0 2px 0; /* Border only at the bottom */
    transition: transform 0.3s ease-in-out,border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.navigation ul li:hover {
    color: rgb(40, 40, 40);
    border-color: rgb(40, 40, 40);
    transform: translateY(-5px);
}
.hed{
    text-align: center;
    background-color: rgb(222, 119, 119);
    padding: 2rem;
}
.hed h1{
    font-size: 2rem;
    font-weight: bold;
}
.hed p{
    font-size: 1rem;
    font-weight: bold;
}
.docserch{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0rem;
}
.docserch input{
    width: 20%;
    height: 3rem;
    border-radius: 5px;
    border: 1px solid rgb(40, 40, 40);
    padding: 0 1rem;
    font-size: 1rem;
    outline: none;
}
.docserch button{
    width: 10%;
    height: 3rem;
    border-radius: 5px;
    border: 1px solid rgb(40, 40, 40);
    padding: 0 1rem;
    font-size: 1rem;
    outline: none;
    background-color: transparent;
    color: black;
}
.docserch button:hover{
    background-color: rgb(227, 227, 227);
    color: rgb(0, 0, 0);
}
.container{
    background-color: royalblue;
    width: 98.9vw;
    height: auto;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* padding: 3rem; */
}
.Filters{
    background-color: seagreen;
    width: 25%;
    height: 100vh;
    padding: 1.5rem;
}
.Filters h2{
    font-size: 5rem;
    font-weight: bold;
    padding: 1rem;
    cursor: pointer;
    padding: 3rem;
}
.Filters h2:hover{
    border-radius: 2rem;
    box-shadow: 0 0 10px 0 rgba(40, 40, 40, 0.326);
}
.Filters p{
    font-size: 20px;
    font-weight: bold;
    padding: 1rem;
}
.Filters p:hover{
    border-radius: 2rem;
    box-shadow: 0 0 10px 0 rgba(40, 40, 40, 0.326);
}
.buttons{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}
.btn{
    width: 20rem;
    height: 4rem;
    border-radius: 5rem;
    border: 2px solid rgb(40, 40, 40);
    font-size: 1.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    outline: none;
    cursor: pointer;

}
.btn:hover{
    color: rgb(0, 0, 2);
    font-size: 25px;
    box-shadow: 0 0 10px 0 rgb(40, 40, 40);
}

.main{
    background-color: orange;
    width: 80%;
    height: 100vh;
    padding: 1.5rem;
}
.alphabet-buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.alphabet-buttons button{
    width: 35px;
    height: 35px;
    border-radius: 5rem;
    border: 2px solid rgb(40, 40, 40);
    font-size: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    outline: none;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.alphabet-buttons button:hover{
    color: rgb(0, 0, 2);
    font-size: 25px;
    transform: scale(1.15);
    box-shadow: 0 0 10px 0 rgb(40, 40, 40);
}
.Filters hr{
    border: 1px solid rgb(40, 40, 40);
}