*{
    margin: 0;
    padding: 0;
}
.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    gap: 25vw;
    color: black;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;

}
.navbar ul {
    display: flex;
    list-style: none;
    gap: 5vw;
}
.navbar ul li a {
    /* margin-left: 5vw; */
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.5vw;
}
.navbar ul li a:hover {
    color: red;
    text-decoration: underline;
    /* font-weight: normal; */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.navbar ul li a span{
    background: red;
    color: white;
    padding: 0.5em 1em;
    border-radius: 0.5em;
}
.bg-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    opacity: 0.6; /* Adjust for desired transparency */
    pointer-events: none;
}
section {
    position: relative;
    z-index: 1;
    color: black;
    padding: 5em;
}
section h1 {
    font-size: 3vw;
    margin-top: 1em;
    margin-bottom: 1em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
section p {
    font-size: 1.5vw;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: .5em;
}
section button {
    padding: 0.75em 1.5em;
    font-size: 1.5vw;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    margin-top: 3em;
}
section button:hover {
    background-color: #0056b3;
}