
*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(135deg, rgb(147,197,253),rgb(110,231,183), rgb(211,234,244));

}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
header{
    width: 98vw;
    height: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20vw;
    border-radius: .5vw;
    font-size: 1.5vw;
}
.logo{
    width: 18vw;
    height: 250%;
    overflow: hidden;
}
.logo img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.navList ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}
.navList ul li{
    font-size: 1.5vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.navList ul li:hover{
    color: rgb(19,51,91);
    transition: all .3s ease-in-out;
}
.navList ul li a{
    color: rgb(19,51,91);
}
.navList ul li a:hover{
    color: rgb(19,51,91);
    transition: all .3s ease-in-out;
}
.navList ul li a.active{
    color: rgb(19,51,91);
    font-weight: bold;
}
.navList ul li a.active:hover{
    color: rgb(19,51,91);
    font-weight: bold;
    transition: all .3s ease-in-out;
}

.account{
    display: flex;
    gap: 3vw;
}
.account a{
    font-size: 1.5vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(19,51,91);
}
.account a:hover{
    color: rgb(19,51,91);
    transition: all .3s ease-in-out;
}
.account a.active{
    color: rgb(19,51,91);
    font-weight: bold;
}
.account a.active:hover{
    color: rgb(19,51,91);
    font-weight: bold;
    transition: all .3s ease-in-out;
}
body{
    background: linear-gradient(135deg, rgb(147,197,253),rgb(110,231,183), rgb(211,234,244));

}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
