* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.container {
  background-color: rgb(184, 241, 241);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 25vw;

}

.content h2{
    font-size: 2.5vw;
}

.center-form {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 2vw;
  width: 35vw;

}

.center-form h3{
    font-size: 2vw;
    margin: 2vw 4vw 2vw 7vw;
}

form {
  padding: 2vw;
  display: flex;
  flex-direction: column;
  gap: 2vw;
  width: 30vw;
  height: 15vw;
}

input[type="email"],
input[type="password"],
textarea {
  font-size: 1vw;
  width: 100%;
  padding: 1vw;
  border: 0.1vw solid #ccc;
  border-radius: 0.4vw;
  box-sizing: border-box;
}

input[type="submit"] {
    background-color: rgb(0, 149, 255);
    color: black;
    width: 12vw;
    font-size: 1.5vw;
    font-weight: 400;
    padding: 0.8vw 2vw;
    border: none;
    margin: 1vw 0 0.8vw 18vw;
    border-radius: 0.4vw;
    cursor: pointer;
  }

  input[type="submit"]:hover{
    background-color: white;
    border: 1px solid black;
  }
  
  @media screen and (max-width: 430px) {
    .container {
      padding: 5vw 2vw;
      height: 100%;
      align-items: center;
    }
  
    .content {
      height: auto;
      width: 100%;
    }
  
    .content h2 {
      font-size: 8vw;
      text-align: center;
    }
  
    .center-form {
      width: 90vw;
      margin-top: 5vw;
      border-radius: 5vw;
    }
  
    .center-form h3 {
      font-size: 5vw;
      margin: 4vw 0;
      text-align: center;
    }
  
    form {
      width: 85vw;
      height: auto;
      gap: 4vw;
      padding: 5vw;
    }
  
    input[type="email"],
    input[type="password"],
    textarea {
      font-size: 4vw;
      padding: 3vw;
      border-radius: 2vw;
    }
  
    input[type="submit"] {
      width: 50vw;
      font-size: 4vw;
      padding: 3vw 0;
      margin: 4vw auto 2vw auto;
      border-radius: 2vw;
    }
  }
  